// compileCompressed: ./stylev1.css

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0,);
}

body {
  /* cursor: crosshair; */
  margin: 0;
  font-family: "arial", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: "arial", sans-serif;
}


canvas {
  width: 50vw;
      height: 100vh;
      position: relative;
      right: 0;
      float: left;
      // margin-top: -100vh;
      @media screen and (max-width: 414px) {
        max-height:50vh;
      }


}

#container {
  position: relative;
      height: 100vh;
      width: 50vw;
      float:right;
      @media screen and (max-width: 414px) {
        max-height:50vh;
      }
  canvas {
    margin-top:0;
      @media screen and (max-width: 414px) {
        max-height:50vh;
      }

  }
}

#about {
  // font-family: "Times New Roman", serif;
  text-align: left;
  margin-left:0.67rem;
  font-size: 4.2092vw;
  letter-spacing: -0.12077vw;
    line-height: 5.07246vw;
    // margin-left: 11vw;
    margin-right:11vw;
    // margin-bottom: 45vh;
    a {
      // margin: 15vh auto;
      // display: block;
      text-decoration: underline;
      // text-align: right;
      // font-size: 10vw;
      // margin-bottom: -55vh;
      &:hover {
        color:grey;
      }
    }
}

.work-list {
  height: auto;
  position: absolute;
  color: white;
  z-index: 99;
  font-family: "arial", sans-serif;
  padding: 11px;
  font-weight: 100;
  text-align: end;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  font-size: 11px;
}

.work-list img {
  width: 200px;
}

video {
  max-width: 100%;
}

.email {
  // background-color:black;
  // color:white;
  // padding:2vh 8vw;
  // margin:0 auto;
  // text-align:left;
  // position: relative;
  // bottom:-60vh;
  // z-index:9999;
}

.inner {
  width: 250px;
  height: auto;
  background: black;
  position: absolute;
  z-index: 99;
  margin: 0 auto;
  color: white;
  top: 1rem;
  right: 1rem;
  font-family: "arial", sans-serif;
  padding: 11px;
  font-size: 11px;
  font-weight: 100;
  text-align: end;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

li {
  display: inline;
  margin-right: 3.51562vw;
}

.first {
  margin-top: 12vh;
}

h1 {
  font-size: 13.625vw;
  letter-spacing: -0.85vw;
  line-height: 1;
  font-weight: normal;
  margin: 0;
  position: relative;
  text-align: left;
  font-family: "arial", sans-serif;
  margin-left:0rem!important;
  @media screen and (max-width: 414px) {
      -webkit-margin-start: 0.67rem!important;
    }
}

.social {
  // text-align: left;
  //     // position: fixed;
  //     top: 44vh;
  //     z-index: 9999;
  //     color: blue;
  //     right:-33vw;


  a {
    font-size: 5vw;
    margin: 3.5vw 8vw;
    text-decoration: underline;
    &:hover {
      color:grey;
    }
  }
}

.vert {
  /* Safari */
  // -webkit-transform: rotate(-270deg);
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  // -moz-transform: rotate(-270deg);
    -moz-transform: rotate(-90deg);
  /* IE */
  // -ms-transform: rotate(-270deg);
    -ms-transform: rotate(-90deg);
  /* Opera */
  // -o-transform: rotate(-270deg);
    -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.strokeme {
  color: transparent;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#container {
  z-index: 99;
  top: 0;
}

.content__text {
  opacity: 0;
}

.preview {
  z-index: 99;
  width: 400px;
  height: 244px;
  position: ABSOLUTE;
  background: white;
  top: 28vh;
  left: 34vw;
}

.description {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  padding: 1rem;
  background: black;
}

nav {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 999;
  font-size: 1rem;
  color: black;
  font-weight: 100;
  top: 0;
  a.active {
    text-decoration: line-through;
  }
}

ul {
  list-style-type: none;
  text-align: left;
  text-transform: lowercase;
  // font-size: 1.25vw;
  font-size: 2vw;
  @media screen and (max-width: 414px) {
    font-size: 4.6vw;
  }
  letter-spacing: -0.02344vw;
  line-height: 1.64062vw;
  margin-left: 0;
  padding-left: 1rem;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #000;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.title-contain.testing {}
@keyframes SHW {
  from {
    transform: rotate3d(0);
  }

  to {
    transform: rotate3d(0, 1, 0.5, 3.142rad);
  }
}

.projects {

  .logo, .info, .contact {
    position:fixed;
    z-index:999;
  }
  .logo {
    top:1rem;
    left:1rem;
  }
  .info {
    left:1rem;
    bottom:1rem;
  }
  .contact {
    bottom:1rem;
    right:1rem;
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }

  body {
    background:white;
  }
  .hello {
      min-height:90vh;
  }

  .landing {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position:absolute;
  }

  #pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    border:5px solid red;
  }
  #slideContainer {
    width: 400%;
    height: 100vh;
    background: blue;
    max-height:400%!important;
  }

  .panel {
    height: 100vh;
    width: 25%;
    float: left;
    text-align: center;
    &:nth-child(odd) {
      background-color:black;
      color:white;
    }
    &:nth-child(even) {
      background-color:white;
      color:black;
    }
  }

  .row {
    min-height:100%;
    margin-left:0;
    margin-right:0;
    padding: 1rem;
  }

  h1 {
    font-size:1rem;
    display: inline-block;
  }

}
